@import "styles/variables";
@import "styles/mixins";

.main {
  @include flex(row);
  flex-wrap: nowrap;
  gap: 2rem;
  padding: 1rem;
  position: relative;

  aside {
    width: 0;
    min-width: 0;
    @include flex(column);
    gap: 20px;
    overflow: hidden;
    transition:
      width 0.2s ease-in-out,
      min-width 0.2s ease-in-out;
    flex-shrink: 0;
  }

  section {
    @include flex(column);
    gap: 1rem;
    flex: 1;
    transition: margin-left 0.2s ease-in-out;
    min-width: 0;
  }
}

.open {
  width: 450px !important;
  min-width: 450px !important;
}

.sidebar {
  > * {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  &.open > * {
    opacity: 1;
    transition: opacity 0.2s ease-in-out 0.1s; // Delay for smoother appearance
  }
}
