@import "styles/variables";
@import "styles/mixins";

.header {
  @include flex(row, space-between, center);

  padding: 16px 24px;
  background-color: $white;
  border-bottom: 1px solid $gray-200;
}
