@import "styles/variables";
@import "styles/mixins";

.search {
  position: relative;
  max-width: 100%;
  width: 100%;
  @include flex(row, flex-start, flex-start);

  input {
    padding: 0.75rem 1rem 0.75rem 3rem;
    font-size: 1rem;
    color: $gray-500;
    min-width: 100%;
    border-radius: 10px;
    outline: none;
    border: 2px solid $gray-200;
    background-color: $white;

    &:focus {
      border: 2px solid $primary;
    }

    &::placeholder {
      color: $gray-500;
    }
  }

  svg {
    position: absolute;
    left: 20px;
    top: 12px;
  }
}
