@import "styles/variables";
@import "styles/mixins";
@import "styles/media";

.container {
  @include flex(row);
  gap: 1rem;
  background-color: $gray-100;
  border: 1px solid $gray-200;
  padding: 0 1rem;
  border-radius: 12px;
  width: 100%;

  @include breakpoint("tablet") {
    gap: 0.5rem;
    flex: 1;
  }
  @include breakpoint("phone-md") {
    gap: 0;
  }

  .button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    color: $gray-700;
    cursor: pointer;
    background-color: transparent;
    transition:
      background-color 0.3s,
      color 0.3s;

    &:hover {
      opacity: 0.9;
    }

    &:disabled {
      cursor: not-allowed;
    }

    @include breakpoint("tablet") {
      padding: 0.5rem;
    }
  }

  .active {
    background-color: $primary;
    color: #ffffff;
  }
}
