@import "styles/variables";
@import "styles/mixins";

.container {
  @include flex(row);
  gap: 1rem;
  background-color: $gray-100;
  border: 1px solid $gray-200;
  padding: 0 1rem;
  border-radius: 12px;

  .button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    color: $gray-700;
    cursor: pointer;
    background-color: transparent;
    transition:
      background-color 0.3s,
      color 0.3s;

    &:hover {
      background-color: $gray-300;
    }

    &:disabled {
      cursor: not-allowed;
    }
  }

  .active {
    background-color: $primary;
    color: #ffffff;
  }
}
