@import "styles/variables";
@import "styles/mixins";

.button {
  @include flex(row, center, center);

  background: $white;
  border: 1px solid $gray-300;
  border-radius: 8px;
  padding: 0.5rem;
  outline: none;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
